<html>
<head>
</head>
<body>
<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th style="min-width: 150px;"></th>
      <th style="min-width: 150px;">Client Code</th>
      <th style="min-width: 150px;">Project Number</th>
      <th style="min-width: 150px;">Assay Code</th>
      <th style="min-width: 150px;">Substrate Type</th>
      <th style="min-width: 150px;">Trial</th>
      <th style="min-width: 150px;">Loading Date</th>
      <th style="min-width: 150px;">Temperature</th>
      <th style="min-width: 150px;">Strain</th>
      <th style="min-width: 150px;">Media</th>
      <th style="min-width: 150px;">Bacteria</th>
      <th style="min-width: 150px;">Live/Dead Bacteria</th>
      <th style="min-width: 150px;">Treatment (This is instead of drug)</th>
      <th style="min-width: 150px;">Concentration</th>
      <th style="min-width: 150px;">Unit</th>
      <th style="min-width: 150px;">Solvent</th>
      <th style="min-width: 150px;">Sol_Conc</th>
      <th style="min-width: 150px;">Techinical Replicate</th>
      <th style="min-width: 150px;">Substrate ID</th>
      <th style="min-width: 150px;">Imaging Date</th>
      <th style="min-width: 150px;">Imaging Time Point</th>
      <th style="min-width: 150px;">Notes/Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>Flow JEM</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>1</td>
      <td>10635</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>Flow JEM</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>2</td>
      <td>10636</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>Flow JEM</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>3</td>
      <td>10637</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>Flow JEM</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>4</td>
      <td>10638</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>EPOXY</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>1</td>
      <td>10639</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>EPOXY</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>2</td>
      <td>10640</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>EPOXY</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>3</td>
      <td>10641</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>EPOXY</td>
      <td>0</td>
      <td>uM</td>
      <td>None</td>
      <td>0</td>
      <td>4</td>
      <td>10642</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>RND</td>
      <td>1</td>
      <td>LHA-2</td>
      <td>Chip</td>
      <td>A</td>
      <td>2022-10-03</td>
      <td>20</td>
      <td>N2</td>
      <td>NGM</td>
      <td>OP50</td>
      <td>Live</td>
      <td>EnPlus</td>
      <td>0</td>
      <td>nM</td>
      <td>None</td>
      <td>0</td>
      <td>1</td>
      <td>10643</td>
      <td>2022-10-04</td>
      <td>Pre-Exposure</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>